autostart
dconf
htop
neofetch
nitrogen
pulse
gtk-2.0
gtk-3.0
yay
spotify
obsidian
mpv/watch_later
chromium

qutebrowser/greasemonkey
qutebrowser/qsettings
qutebrowser/autoconfig.yml

cookies_Z.txt
cookies_P.txt

xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/xmonad.errors
xmonad/xmonad-x86_64-linux
xmonad/build-x86_64-linux

nvim/plugged
nvim/autoload/*
nvim/spell/en.utf-8.add.spl

vifm/colors
vifm/scripts
vifm/vifm-help.txt
vifm/vifminfo.json*
