
start-at-login = true
after-startup-command = [
    'exec-and-forget borders',
    'exec-and-forget sketchybar'
]

on-focused-monitor-changed = 'move-mouse monitor-lazy-center'
on-focus-changed = 'move-mouse window-lazy-center'

exec-on-workspace-change = ['/bin/bash', '-c',
    'sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE'
]

[gaps]
    inner.horizontal = 10
    inner.vertical   = 10
    outer.left       = 10
    outer.bottom     = 10
    outer.top        = 10
    outer.right      = 10

[mode.main.binding]
    cmd-backslash = 'exec-and-forget /etc/profiles/per-user/zhao/bin/alacritty'

    cmd-e = """exec-and-forget /etc/profiles/per-user/zhao/bin/alacritty \
        --title vifm \
        -e /etc/profiles/per-user/zhao/bin/vifm ~/ \
        -c "windo filter Applications|Desktop|Documents|Library|Movies|Music|Pictures | normal ggvGgA""""

    cmd-g = """exec-and-forget /etc/profiles/per-user/zhao/bin/alacritty \
        --title git \
        --option "window.dimensions={columns=100,lines=35}" \
        --option "window.position={x=525,y=250}" \
        -e zsh -ic "~/iCloud/Dotfiles/modules/home-manager/git.sh" """

    cmd-enter = [
        """exec-and-forget /etc/profiles/per-user/zhao/bin/alacritty \
            --config-file ~/.config/alacritty/launcher.toml \
            --title launcher \
            -e zsh -ic /etc/profiles/per-user/zhao/bin/launcher""",
        'mode launcher'
    ]

    cmd-t = """exec-and-forget /etc/profiles/per-user/zhao/bin/alacritty \
        --title btop \
        --option "window.dimensions={columns=100,lines=35}" \
        --option "window.position={x=525,y=250}" \
        -e zsh -ic /etc/profiles/per-user/zhao/bin/btop"""

    cmd-w       = [ 'workspace w', 'exec-and-forget open -a qutebrowser', ]
    cmd-m       = [ 'workspace m', 'exec-and-forget open -a messages', ]
    cmd-s       = [ 'workspace s', 'exec-and-forget open -a music', ]
    cmd-shift-m = [ 'workspace M', 'exec-and-forget open -a mail', ]

    cmd-p = 'exec-and-forget screencapture ~/Downloads/Screenshot_$(date +%Y_%m_%d_%H%M%S).png'

    cmd-h = 'focus left'
    cmd-j = 'focus down'
    cmd-k = 'focus up'
    cmd-l = 'focus right'

    cmd-shift-h = 'move left'
    cmd-shift-j = 'move down'
    cmd-shift-k = 'move up'
    cmd-shift-l = 'move right'

    cmd-1 = 'workspace 1'
    cmd-2 = 'workspace 2'
    cmd-3 = 'workspace 3'
    cmd-4 = 'workspace 4'
    cmd-5 = 'workspace 5'
    cmd-6 = 'workspace 6'
    cmd-7 = 'workspace 7'
    cmd-8 = 'workspace 8'
    cmd-9 = 'workspace 9'

    cmd-shift-1 = 'move-node-to-workspace 1'
    cmd-shift-2 = 'move-node-to-workspace 2'
    cmd-shift-3 = 'move-node-to-workspace 3'
    cmd-shift-4 = 'move-node-to-workspace 4'
    cmd-shift-5 = 'move-node-to-workspace 5'
    cmd-shift-6 = 'move-node-to-workspace 6'
    cmd-shift-7 = 'move-node-to-workspace 7'
    cmd-shift-8 = 'move-node-to-workspace 8'
    cmd-shift-9 = 'move-node-to-workspace 9'

    cmd-f       = 'layout v_accordion v_tiles'
    cmd-tab     = 'focus --boundaries workspace --boundaries-action wrap-around-the-workspace dfs-next'
    cmd-shift-f = 'fullscreen --no-outer-gaps'

    cmd-q   = []
    cmd-esc = [
        'exec-and-forget osascript -e "tell application (path to frontmost application as text) to quit"',
        'focus --boundaries workspace dfs-next',
        'exec-and-forget sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE'
    ]

[mode.launcher.binding]
    cmd-esc = [ 'exec-and-forget osascript -e "tell application (path to frontmost application as text) to quit"', 'mode main' ]
    ctrl-q  = [ 'exec-and-forget osascript -e "tell application (path to frontmost application as text) to quit"', 'mode main' ]
    cmd-q   = [ 'exec-and-forget osascript -e "tell application (path to frontmost application as text) to quit"', 'mode main' ]
    esc     = [ 'exec-and-forget osascript -e "tell application (path to frontmost application as text) to quit"', 'mode main' ]

[[on-window-detected]]
    if.app-id = 'org.nixos.qutebrowser'
    run = [
        'move-node-to-workspace w',
        'layout tiling'
    ]

[[on-window-detected]]
    if.app-id = 'com.apple.MobileSMS'
    run = 'move-node-to-workspace m'

[[on-window-detected]]
    if.app-id = 'com.apple.Music'
    run = 'move-node-to-workspace s'

[[on-window-detected]]
    if.app-id = 'com.apple.Mail'
    run = 'move-node-to-workspace M'

[[on-window-detected]]
    if.app-id = 'com.apple.SecurityAgent'
    run = 'layout floating'

[[on-window-detected]]
    if.window-title-regex-substring = 'vifm-float'
    run = 'layout floating'

[[on-window-detected]]
    if.window-title-regex-substring = 'git'
    run = 'layout floating'

[[on-window-detected]]
    if.window-title-regex-substring = 'launcher'
    run = 'layout floating'

[[on-window-detected]]
    if.window-title-regex-substring = 'btop'
    run = 'layout floating'
