snippet \proves "proves" Ait
⊢
endsnippet

snippet \imp "imp" Ait
⊃
endsnippet

snippet \top "top" Ait
⊤
endsnippet

snippet \bot "bot" Ait
⊃
endsnippet

snippet \land "and" Ait
∧
endsnippet

snippet \lor "or" Ait
∨
endsnippet

snippet \lnot "not" Ait
¬
endsnippet

snippet GG "Gamma" it
Γ
endsnippet
