#### Libraries ####
snippet stdio "standard io" b
#include<stdio.h>
endsnippet

snippet string "string" b
#include<string.h>
endsnippet
#### Libraries ####

###########################################################

#### Convenience ####
snippet pf "printf" b
printf("$1", $2);$0
endsnippet

snippet sf "scanf" b
scanf("$1", $2); $0
endsnippet
#### Convenience ####
