#### Convenience ####
snippet pf "printf" b
printf("$1", $2);$0
endsnippet

snippet sf "scanf" b
scanf("$1", $2); $0
endsnippet

snippet include "include" b
#include<$1.h>$0
endsnippet
#### Convenience ####
